<p><img src="http://www.gravatar.com/avatar/ca1556da271e3177836fdd55bc926ecd.png" alt="Eric Jones" title="Follow me on Twitter @erjjones" /></p>
<p>My name is Eric Jones, I am a student for life, amateur software engineer, car enthusiast, and wanna be chef.  Most importantly I am a father, husband and a Christian.</p>	  		  
<p><a href="http://twitter.com/erjjones">Follow me on Twitter @erjjones</a></p>
<p><a id="gf" href="https://github.com/erjjones" title="Go to Erjjones on GitHub" target="_blank"></a></p> 
<p><a id="gfr" href="https://github.com/erjjones/repositories" title="Go to Erjjones GitHub repositories page" target="_blank"></a></p>
<p><a href="https://github.com/erjjones/Feedback/issues/new" target="_blank">Leave me feedback</a></p>				  