<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>    
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />   
    <link href='http://fonts.googleapis.com/css?family=Caudex' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div id="header">    
	<h3>Erjjones</h3>
    <ul style="margin-left:1.5em;">
      <li><a href="http://erjjones.github.com">Home</a></li>
      <li><a href="https://github.com/erjjones">GitHub</a></li>
  </div>
  {{ content }}
  </body>
</html>

